/* footer */

footer{
	background-color:#303e48;
	padding-top:65px;
}
.socialupc{
	padding-top:150px;
	width:20px;
	display:inline;


}

.socialupc img{
	padding-top:40px;
	width:30px;
	display:inline;
	margin-left:50px;
}

.main{
	padding-top:50px;
	text-align:center;
	color:white;
}
.main h5{
font-size:17px;
color:white;
}

.privacy p {
	font-family:"Proxima Nova thin";
	color:white;
	text-align:center;
	padding-top:50px;
	font-size:17px ! important;
}


@media screen and (min-width:300px) and (max-width:600px){
	.logoup{
		margin-left: 190px;
	}

}
@media screen and (min-width:600px) and (max-width:800px){
	.logoup{
		margin-left: 250px;
	}
	.socialupc img{
	padding-top:40px;
	width:30px;
	display:inline;
	margin-left:75px;

	}
}

@media screen and (min-width:800px) and (max-width:990px){
	.logoup{
		margin-left: 280px;
	}
	.socialupc img{
	padding-top:50px;
	width:30px;
	display:inline;
	margin-left:85px;

	}
}
/* footer zend  */