

html,body
{
    overflow: visible !important;
}

body
{
    color: #000 !important;
}

.upcreative, .upcreative h2, .move-bar, .button-default
{
    color: black !important;
}

p
{
    font-size: 24px !important;
    font-family: Mrs Eaves OT;
    line-height: 29px;
	    color: #333;
}

a {
	color: black;
}

h3
{
    font-size: 35px !important;
    border: 5px solid #000;
    padding: 40px;
    font-weight: bold;
}

#logo-black
{
    background: url(../img/logo-up-creative.png);
}

.work-border
{
    max-width: 190px;
    margin-left: 35%;
}

.button-default
{
    margin: -2px 5px 0 0;
}

.button-top {
    margin: 5px 15px 0 0;
    padding: 10px 20px;
}

.button-default.active
{
    background: #a7a7a7;
    border: 1px #a7a7a7 solid;
}

.button-default
{
    display: inline-block;
    margin: 5px 0;
    padding: 5px 15px;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-family: inherit;
    font-size: 18px;
}

.button-default:hover
{
    background-color: #a7a7a7 !important;
    border: 1px #a7a7a7 solid;
    color: inherit;
    text-decoration: none!important;
}

.projects
{
    background: #17171c;
    height: 314px;
    margin-top: 30px;
}

.projects h4
{
    font-family: Mrs Eaves OT;
    color: #fff;
    font-size: 50px;
    padding-top: 135px;
}

@media screen and (max-width:999px)
{
    .projects
    {
        height: 470px;
        margin-top: 20px;
    }
    .projects h4
    {
        padding-top: 75px;
    }
}

@media screen and (max-width:768px)
{
    .projects
    {
        height: auto;
    }
    .projects h4
    {
        padding-bottom: 65px;
    }
}

.mmb
{
    background-image: url('../img/work-mmbresa.png');
    background-repeat: no-repeat;
    background-position: left;
}

.screenshot-mmb
{
    background-image: url('../img/screenshot-mmb.png');
}

.screenshots
{
    position: absolute;
    width: 442px;
    height: 283px;
    left: 28%;
    top: 40px;
    -webkit-box-shadow: 0px 18px 37px -10px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 18px 37px -10px rgba(0,0,0,0.59);
    box-shadow: 0px 18px 37px -10px rgba(0,0,0,0.59);
}

.ultraviolet
{
    background-image: url('../img/work-ultraviolet.png');
    background-repeat: no-repeat;
}

.screenshot-ultraviolet
{
    background-image: url('../img/screenshot-ultraviolet.png');
}

.Kyligence
{
    background-repeat: no-repeat;
    background-image: url('../img/work-kyligence.png');
}

.screenshot-Kyligence
{
    background-image: url('../img/screenshot-kyligence.png');
}

.Trustylabs
{
    background-repeat: no-repeat;
    background-image: url('../img/work-trustylabs.png');
}

.screenshot-Trustylabs
{
    background-image: url('../img/screenshot-trustylabs.png');
}

.works-bg
{
    background: url('../img/works-bg.jpg') no-repeat top;
    padding-top: 170px;
    padding-bottom: 60px;
    background-color: #e9e8e5;
}

.navbar-toggle{
  float:inherit !important;
  margin-top:35px;
      margin-left: 10%;
}
.navbar-nav{
  background: #fff;
}

.grey-bg
{
    margin-top: 50px;
    background-color: #cdcdcd;
    height: 150px;
}

.wrapper,.wrapper-l,.wrapper-s
{
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.menu-list li a{
color:#fff !important;
text-decoration:none;
}

.projects h4 a{
 color:#fff !important;
}


#upcreativelog{
  background-image: url("./img/logowhite.png");
}
